<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/static/img/klarna-favicon-76x76.png" sizes="76x76">
    <link rel="icon" type="image/png" href="/static/img/klarna-favicon-32x32.png" sizes="32x32">
    <style>
        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
        }
    </style>
</head>

<body>
    <div class="box">
        <img src="/static/img/techover-title.png" alt="" width="300px">
    </div>
    {{{body}}}
</body>

</html>